<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bao48.studyblank">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".home"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".createAccount"
            android:label="@string/title_activity_create_account"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CreateSets"
            android:label="@string/title_activity_create_sets"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewFolders"
            android:label="@string/title_activity_view_folders"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewSets"
            android:label="@string/title_activity_view_sets"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewStats"
            android:label="@string/title_activity_view_stats"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DocumentRetriever"
            android:label="@string/title_activity_document_retriever"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>